*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html{
    box-sizing:border-box;
    font-size: 62.5%;
    color: #353535;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: #333;
}
.container{
    max-width: 550px;
    margin: 10rem auto;
    border-radius: .2rem;
}

.header{
    background-color: #6943FF;
    text-align: center;
    padding: 3.3rem 0;
}
.header h1{
    font-size: 2.8rem;
    color: #fff;
    padding-bottom: 3.3rem;
}
.header #num-el{
    display: block;
    margin: 0 auto;
    font-size: 5.8rem;
    width: 11.7rem;
    height:8.3rem;
    background: transparent;
    border: 2px solid #d5d5d5;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    outline: none;
    margin-bottom: 2.6rem;
    border-radius: .2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.btn{
    width: 11.7rem;
    height: 4.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    background: #fff;
    outline: none;
    border: none;
    border-radius: .2rem;
}

.main{
    padding: 3.3rem 2.5rem;
    background: #f5f5f5;
}
.main .row{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .row .col{
    background-color: #fff;
    padding: 2.5rem 0;
    width: 100%;
    text-align: center;
}
.main .row .col:not(:last-child){
    margin-bottom: 2rem;
}
.main .row .col h2{
    font-size: 2rem;
    margin-bottom: 1.8rem;
    font-weight: 600;
}
.main .row .col p{
    font-size: 1.4rem;
    font-weight: 400;
}